<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be focusing on the visualization of data.

The data set will be presented to you in the form of a RDBMS.

You will have to use SQL queries to extract the data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize composition of data.

-   Visualize comparison of data.

<hr>

## Demo: How to work with database

Download database file.

In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m4_survey_data.sqlite

'wget' is not recognized as an internal or external command,
operable program or batch file.

Connect to the database.

In [2]:
import sqlite3
conn = sqlite3.connect("m4_survey_data.sqlite") # open a database connection

Import pandas module.

In [3]:
import pandas as pd

## Demo: How to run an sql query

In [4]:
# print how many rows are there in the table named 'master'
QUERY = """
SELECT COUNT(*)
FROM master
"""

# the read_sql_query runs the sql query and returns the data as a dataframe
df = pd.read_sql_query(QUERY,conn)
df.head()

DatabaseError: Execution failed on sql '
SELECT COUNT(*)
FROM master
': no such table: master

## Demo: How to list all tables

In [ ]:
# print all the tables names in the database
QUERY = """
SELECT name as Table_Name FROM
sqlite_master WHERE
type = 'table'
"""
# the read_sql_query runs the sql query and returns the data as a dataframe
pd.read_sql_query(QUERY,conn)

## Demo: How to run a group by query

In [ ]:
QUERY = """
SELECT Age,COUNT(*) as count
FROM master
group by age
order by age
"""
pd.read_sql_query(QUERY,conn)

## Demo: How to describe a table

In [ ]:
table_name = 'master'  # the table you wish to describe

QUERY = """
SELECT sql FROM sqlite_master
WHERE name= '{}'
""".format(table_name)

df = pd.read_sql_query(QUERY,conn)
print(df.iat[0,0])

# Hands-on Lab

## Visualizing distribution of data

### Histograms

Plot a histogram of `ConvertedComp.`

In [ ]:
# your code goes here

#Get the master table data to dataframe for easy processing
import matplotlib.pyplot as plt
query = """
        SELECT * FROM master
        """

df2 = pd.read_sql_query(query,conn)
df2.drop('index',axis=1,inplace=True)

#Plot histogram of ConvertedComp
df2['ConvertedComp'].plot(kind='hist')
plt.title('Histogram of ConvertedComp')
plt.xlabel('ConvertedComp')
plt.ylabel('Frequency')
plt.show()

### Box Plots

Plot a box plot of `Age.`

In [ ]:
# your code goes here

df2['Age'].plot(kind='box')
plt.title('Box plot of Age')
plt.ylabel('Frequency')

plt.show()

## Visualizing relationships in data

### Scatter Plots

Create a scatter plot of `Age` and `WorkWeekHrs.`

In [ ]:
# your code goes here

df2.plot(kind='scatter', x='Age',y='WorkWeekHrs', color='darkblue')
plt.title('WorkWeekHrs by Age')
plt.xlabel('Age')
plt.ylabel('WorkWeekHrs')

plt.show()

### Bubble Plots

Create a bubble plot of `WorkWeekHrs` and `CodeRevHrs`, use `Age` column as bubble size.

In [ ]:
s = df2['Age'] * 10    # Create a new array for s

# Create a scatter plot
plt.scatter(df2['WorkWeekHrs'], df2['CodeRevHrs'], s=s, alpha=0.5)

# Add labels and a title
plt.xlabel('WorkWeekHrs')
plt.ylabel('CodeRevHrs')
plt.title('Bubble Plot of WorkWeekHrs and CodeRevHrs')

# Show the plot
plt.show()

## Visualizing composition of data

### Pie Charts

Create a pie chart of the top 5 databases that respondents wish to learn next year. Label the pie chart with database names. Display percentages of each database on the pie chart.

In [ ]:
# get data on database desire to learn next year
query_db = """
        SELECT DatabaseDesireNextYear,SUM(Respondent) as 'TotalRespondentChoose'
        FROM DatabaseDesireNextYear
        GROUP By DatabaseDesireNextYear
        ORDER By SUM(Respondent) DESC
        LIMIT 5
"""

df_dblearn = pd.read_sql(query_db,conn)
df_dblearn

#create pie chart
df_dblearn['TotalRespondentChoose'].plot(kind='pie',
                                figsize=(15, 6),
                                autopct='%1.1f%%',
                                startangle=90,
                                shadow=False,
                                labels=df_dblearn['DatabaseDesireNextYear']
                                )

plt.title('Top 5 Databases Respondent Wish To Learn Next Year', y=1.12)
plt.axis('equal')

plt.legend(labels=df_dblearn['DatabaseDesireNextYear'], loc='upper left')
plt.show()

### Stacked Charts

Create a stacked chart of median `WorkWeekHrs` and `CodeRevHrs` for the age group 30 to 35.

In [ ]:
# Filter data for ages between 30 and 35
df_filtered_aged = df2[(df2['Age'] >= 30) & (df2['Age'] <= 35)]

# Group data by age and calculate the median of WorkWeekHrs and CodeRevHrs
df_grouped_age = df_filtered_aged.groupby('Age')[['WorkWeekHrs', 'CodeRevHrs']].median()

# Create a stacked chart
df_grouped_age.plot(kind='bar', stacked=True)

# Add labels and a title
plt.xlabel('Age')
plt.ylabel('Median Hours')
plt.title('Stacked Chart of Median WorkWeekHrs and CodeRevHrs for Ages 30-35')

# Show the plot
plt.show()

## Visualizing comparison of data

### Line Chart

Plot the median `ConvertedComp` for all ages from 45 to 60.

In [ ]:
# your code goes here
df_filtered_age= df2[(df2['Age'] >= 45) & df2['Age'] <= 60]

# Group data by age and calculate the median of ConvertedComp
df_grouped = df_filtered_age.groupby('Age')['ConvertedComp'].median()

# Create a line chart
plt.plot(df_grouped.index, df_grouped.values)

# Add labels and a title
plt.xlabel('Age')
plt.ylabel('Median ConvertedComp')
plt.title('Median ConvertedComp for Ages 45-60')

# Show the plot
plt.show()

### Bar Chart

Create a horizontal bar chart using column `MainBranch.`

In [ ]:
# your code goes here
df_grouped = df2.groupby('MainBranch').size()
# Create a horizontal bar chart
df_grouped.plot.barh()

# Add labels and a title
plt.xlabel('Frequency')
plt.ylabel('Main Branch Category')
plt.title('Horizontal Bar Chart of Main Branch Categories')

# Show the plot
plt.show()

Close the database connection.

In [ ]:
conn.close()

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).